body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 80px;
    background: #ffffff;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 20px;
}

nav a {
    margin: 12px;
    text-decoration: none;
    color: black;
}
